@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Patua+One&family=Roboto+Condensed:wght@400;600&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black
}

body {
    font-family: 'Abril Fatface', serif;
    font-family: 'Patua One', serif;
    font-family: 'Roboto Condensed', sans-serif;
}


header {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    background-color: #ffffff;
}




nav {
    width: 1170px;
    height: 44px;
    margin: 0px auto;

}


header ul {
    list-style: none;
    float: left;
    overflow: hidden;
}

header ul li {
    float: left;
    padding: 10px 25px;
    font-size: 12px;
}

header ul li a {
    line-height: 28px;
}

header ul li a img {
    height: 23px;
}



#nav2 {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
}

.nav2 {
    width: 1170px;
    height: 60px;
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav2 p {
    font-size: 13px;
}



div.slider {
    width: 100%;
    height: 450px;
    background-color: #f5f5f7;
    border: 1px solid #ddd;
}

.content {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    background-color: #f5f5f7;
    position: relative;
    padding: 50px 0 0 0px;
}

.content #h1 {
    font-size: 45px;
    font-weight: 600;
}

.content #h2 {
    font-size: 40px;
    font-weight: 600;
}

.content #h3 {
    font-size: 18px;
    margin-top: 10px;
}

.content a {
    color: #105afa;
    font-size: 20px;
    font-weight: 500;
}

.content a:hover {
    cursor: pointer;
    text-decoration: underline 2px;
}

.slider img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.slider img:hover {
    cursor: pointer;
}

/* 메인 메뉴 */

.mainful {
    width: 100%;
    height: 1050px;
    margin-top: 40px;

}

.mainbox {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;


}



.mainbox1 {
    width: 400px;

    display: flex;
    flex-flow: column;
    align-content: flex-start;

}

#servebox1 {
    font-size: 20px;
    margin-top: 10px;
}

#servebox2 {
    font-size: 14px;
    color: #105afa;
}

#servebox2:hover {
    text-decoration: underline;
    cursor: pointer;
}

#servebox3 {
    font-size: 18px;
    font-weight: 600;
    width: 120px;
    height: 100px;
    margin-top: 20px;

}

#servebox3 img {
    width: 45px;
    height: 45px;
    margin: 20px 2px;
    padding: 3px;
}

#button1 {
    border: 2px solid #105afa;
    border-radius: 30px;
}

.choice {
    width: 360px;
    height: 65px;
    border: 1px solid #3b3b3b;
    border-radius: 10px;
    margin: 20px 0;
    padding: 7px 0 0 20px;
    font-size: 13px;

    display: flex;
    flex-direction: column;
    align-content: flex-start;


}

.choice select {
    font-size: 22px;
    border: none;
    margin: 5px 0;
    width: 320px;
    display: flex;
    outline: none;
}

#basket1 {
    width: 100%;
    height: 60px;
    display: flex;
    align-content: space-around;
    flex-flow: row;
    margin: 0px 0;
}

#basket1 p {
    padding-top: 20px;
}

#basket1 span {
    color: #2a6dfd;
    ;
}

#basket1 span:hover {
    text-decoration: underline;
    cursor: pointer;
}


#basket1 img {
    width: 50px;
    height: 50px;
}

#basket2 {
    width: 100%;
    height: 82px;
    display: flex;
    align-content: space-around;
    flex-flow: row;
    margin: 20px 0;
}

#basket2 p {
    padding-top: 20px;
}

#basket2 span {
    color: #2a6dfd;
    ;
}

#basket2 span:hover {
    text-decoration: underline;
    cursor: pointer;
}


#basket2 img {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
}

.basketbutton {
    width: 345px;
    height: 45px;
    background-color: #105afa;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-family: 600;
    margin: 0px 10px;
}

.save {
    font-size: 15px;
    width: 100%;
    height: 140px;
    margin-top: 25px;
    border-bottom: 1px solid #ddd;
}

.save img {
    width: 15px;
    height: 15px;
    margin-top: 15px;
}

.save a {
    color: #105afa;
}

.center {
    width: 330px;
    height: 74px;
    margin-top: 15px;
    display: flex;

    padding-top: 20px;
    color: #666;
    font-size: 15px;
}

.center img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.center span {
    color: #2a6dfd;
}

.center span:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* 메인 메뉴 2번박스*/

.mainbox2 {
    width: 770px;
    height: 1050px;


}

#mainimgbox {
    width: 100%;
    height: 571px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#mainimgbox img {
    width: 80%;
    height: 100%;
}

#serveimgbox {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

#serveimgbox img {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    border-bottom: 3px solid transparent;
}

#serveimgbox .active,
#serveimgbox img:hover {
    border-bottom: 3px solid #ddd;
    cursor: pointer;
}

/* 서브 메뉴 */

.serve {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
}

.subbar {
    width: 1170px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#serveimgbar {
    display: flex;
    justify-content: center;
    align-content: center;

}

#serveimgbar img {
    width: 70px;
    height: 70px;
    margin: 20px;
}

#serveimgbarchat {
    font-size: 20px;
    margin: 20px 0;

}

#serveimgbarchat a {
    color: #2a6dfd;
    line-height: 50px;
}

#serveimgbarchat a:hover {
    cursor: pointer;
    text-decoration: underline;
}



/* 제품 정보 */

.information {
    width: 100%;
    height: auto;


}

.inforbar {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
}

.inforbar1 {
    widows: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.buttonin {
    width: 1170px;
    height: 118px;
    text-align: left;
    background-color: white;
    border: none;
    border-top: 1px solid #ddd;
}

.icon6 {
    width: 35px;
    height: 35px;
}

.rotate {
    transform: rotate(180deg);
}



.inforbar span {
    font-size: 32px;
}

#inforfulbox1 {
    width: 1170px;
    height: auto;
    display: none;
}

#inforbox1 {
    width: 1170px;
    height: 154px;
    display: flex;
}

.informanu1 h3 {
    width: 300px;
    height: 154px;
    font-size: 24px;
}

#imformanu1 {
    width: 870px;
    height: 154px;
    border-bottom: 1px solid #ddd;
    font-size: 17px;
}

#inforbox2 {
    width: 1170px;
    height: 271px;
    display: flex;
}

.informanu2 h3 {
    width: 300px;
    height: 271px;
    font-size: 24px;
    padding: 30px 0;
}

#imformanu2 {
    width: 870px;
    height: 271px;
    border-bottom: 1px solid #ddd;
    padding: 30px 0;
    font-size: 17px;
}

#inforbox3 {
    width: 1170px;
    height: 108px;
    display: flex;

}

.informanu3 h3 {
    width: 300px;
    height: 108px;
    font-size: 24px;
    padding: 30px 0;
}

#imformanu3 {
    width: 870px;
    height: 108px;
    padding: 30px 0;
    font-size: 17px;
}

#inforbox4 {
    width: 1170px;
    height: 250px;
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 0 0 0px 0;
    display: none;
}

.informanu4 {
    width: 1170px;
    height: 400px;
    font-size: 17px;
    display: flex;

}

.informanuh3 {
    width: 300px;
    height: 347px;
}


#inforlist {
    width: 870px;
    height: 347px;

}

#inforlist ul {
    list-style: none;
}

#inforlist ul li {
    font-size: 17px;
}

/* 제품 추천 리스트 */

.itemlist {
    width: 100%;
    height: 666px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: flex-start;
}

.listname {
    height: 159px;
    width: 1170px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.listname h1 {
    font-size: 40px;
}

.listbox {
    width: 1170px;
    height: 419px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

}

.listnumber {
    width: 1170px;
    height: 27px;


}


.listbox .list {
    width: 350px;
    height: 419px;

    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-flow: wrap;
}


.list img {
    width: 250px;
    height: 250px;
}



.list .listchat {
    width: 350px;
    height: 169px;

    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-direction: column;
}

.list .listchat {
    line-height: 35px;
    box-sizing: border-box;
}

.list:nth-of-type(1) span:nth-of-type(1),
.list:nth-of-type(2) span:nth-of-type(1),
.list:nth-of-type(3) span:nth-of-type(1) {
    color: brown;
    font-size: 12px;
}

.list:nth-of-type(1) span:nth-of-type(2),
.list:nth-of-type(2) span:nth-of-type(2),
.list:nth-of-type(3) span:nth-of-type(2) {
    font-size: 17px;
    font-weight: bold;
}

.list:nth-of-type(1) span:nth-of-type(3),
.list:nth-of-type(2) span:nth-of-type(3),
.list:nth-of-type(3) span:nth-of-type(3) {
    font-size: 17px;
    font-weight: bold;
}

.list:nth-of-type(1) span:nth-of-type(2):hover {
    cursor: pointer;
    color: #2a6dfd;
}

.list:nth-of-type(2) span:nth-of-type(2):hover {
    cursor: pointer;
    color: #2a6dfd;
}

.list:nth-of-type(3) span:nth-of-type(2):hover {
    cursor: pointer;
    color: #2a6dfd;
}

/* Footer  */

footer {
    width: 100%;
    height: 681px;
    ;
    background-color: #f5f5f7;
}

.footerbox1 {
    width: 1170px;
    height: 148px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    padding: 17px 0;
    color: #6e6e73;
}

.footerbox2 {
    width: 1170px;
    height: 532px;
    margin: 0 auto;
    background-color: #f5f5f7;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.footerbox2 ul {
    width: 100%;
    padding: 10px 5px;
    display: flex;
}

.footerbox2 ul li {
    list-style: none;
    padding-right: 20px;
    padding-bottom: 5px;
    font-size: 13px;
}

.footerbox2 ul li span img {
    width: 24px;
    height: 18px;
}

.footerlist {
    width: 230px;
    height: 360px;
    margin: 2px;
}

.footerlist ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footerlist ul li {
    color: #424245;
    font-size: 13px;
    margin: 2px 0;
}

.footerlist ul li:hover {
    cursor: pointer;
}

.footerlist span {
    font-weight: bold;
}

.footerbox3 {
    width: 1170px;
    height: 60px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: end;
    font-size: 13px;
}

.footerbox3 p span {
    text-decoration: underline;
    color: #2a6dfd;
}

.footerbox3 p span:hover {
    cursor: pointer;
}

.footerbox3 p {
    line-height: 50px;
    color: #666;
}

.footerbox4 {
    display: flex;
    font-size: 13px;
    width: 1170px;
    height: auto;
    justify-content: space-between;
}



.footerbox4 ul li {
    padding: 0 0px 0 10px;
}

.footerbox4 #kore {
    width: 50px;
}